<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- bean definitions here -->

    <context:component-scan base-package="ru.gb"/>

    <bean class="ru.gb.WantMessageProvider" id="provider"/>
    <bean class="ru.gb.ConsoleMessageRender" id="render">
        <!--property name="messageProvider" ref="provider"/-->
        <constructor-arg name="messageProvider" ref="provider"/>
    </bean>

    <!--bean class="ru.gb.InjectFoodStuffAnnotationBeanPostProcess"/-->
    <!--bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" /-->

</beans>